# Database
SQL_SERVER=CONECTION_STRING
SQL_DB=DB_NAME
SQL_USER=USERNAME
SQL_PASSWORD=PASSWORD

# Printer Policy (JSON format)
DEVICE_PRINT_POLICY_SERIAL={ADD PRINTERS SERIAL NUMBER AND NAME IN JSON FORMAT HERE}
DEVICE_PRINT_POLICY_NAME={ADD PRINTERS SERIAL NUMBER AND NAME IN JSON FORMAT HERE}

# Tuning
COOLDOWN_MINUTES=5
POLL_INTERVAL=0.5
MAX_RETRIES=3
RETRY_DELAY=2

# Logging
LOG_LEVEL=INFO
LOG_FILE=logs/mealslip.log